@use "variable" as *;

#news>main {
  overflow-x: hidden;
  max-width: 1280px;
}

#news,
#findArticles,
#findEvent {

  //按鈕
  .reco-button a,
  button {
    position: relative;
    display: flex;
    padding: 15px 60px;
    justify-content: center;
    cursor: pointer;

    font-weight: 900;
    color: $btn-color;
    border-radius: 2px;
    // border: 3px solid $textcolor;
    background-color: #E1BB98;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;

    @media ($media-640) {
      font-size: 12px;
    }


    // 疊上透明背景圖（紙張材質）
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url('/paper-texture.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.3; // 材質透明度 30%
      z-index: 1;
      transition: background-color 0.3s, opacity 0.3s;
    }

    &:hover {
      color: $textcolor !important;
      border: 2px solid $bordercolor;
      background-color: #904118;
    }
  }


}

/* 島嶼月報 all */
#news,
#findArticles,
#findEvent,
.article-detail-page,
.event-detail-page {
  // background: rgb(21, 56, 55, 0.8);
  // max-width: 1920px;
  display: flex;
  flex-direction: column;
  font-size: $fontsize;
  width: 100%;
  align-self: center;
  margin: 0 auto;

  @media ($media-1920) {
    padding: 100px 160px;
  }

  @media ($media-1024) {
    padding: 100px 80px;
  }

  @media ($media-820) {
    padding: 100px 40px;
  }

  @media ($media-640) {
    padding: 100px 24px;
  }

  nav {
    display: flex;
    align-self: center;
  }

  li {
    gap: 24px
  }

  * {
    color: $textcolor;
  }

  /* h1 */
  .title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 32px;
    // 置右
    width: 100%;
    text-align: right;
    line-height: 1.6rem;

    @media (max-width: 640px) {
      font-size: 20px;
    }
  }

  h1 {
    text-align: left;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 8px;

    @media (max-width: 640px) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.8px;

    @media (max-width: 640px) {
      font-size: 16px;
    }
  }

  .tagName {
    align-self: stretch;
    color: $tagcolor;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.84px;
    line-height: 0.8rem;

    @media (max-width: 1024px) {
      font-size: 10px;
    }
  }

  /* 呼吸動畫定義 */
  @keyframes breathing {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.08);
    }

    100% {
      transform: scale(1);
    }
  }

  /* nav */
  .nav-news {
    position: fixed;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: row;
    width: 100px;
    z-index: 99;

    @media ($media-1024) {
      left: 4px;
    }

    svg {
      width: 56px;
      height: 56px;
      flex-shrink: 0;

      animation: breathing 3s ease-in-out infinite; // 套用呼吸動畫

      @media ($media-1024) {
        width: 32px;
        height: 32px;
      }

      @media($media-640) {
        width: 32px;
        height: 32px;
      }

    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;

      @media($media-640) {
        flex-direction: row;
        // margin-top: 8px;
        // gap: 16px;
      }
    }

  }



  /* 預設隱藏手機版導覽 */
  .nav-news-mobile {
    display: none;
  }

  /* 桌面版顯示 */
  .nav-news-desktop {
    display: block;
  }


  // 小怪獸搭配文字動畫
  .nav-news ul li a .link-text {
    /* Hide the text by default */
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Smooth transition for appearance */
  }

  .nav-news ul li a:hover .link-text {
    /* Show the text on hover */
    visibility: visible;
    opacity: 1;
  }

  .nav-news ul li a:active .link-text {
    /* Show the text on active */
    visibility: visible;
    opacity: 1;
  }

  .nav-news ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $textcolor;
  }

  .nav-news ul li svg {
    margin-right: 16px;
    margin-top: 8px;
    /* Space between SVG and text */
    transition: transform 0.3s ease;
  }

  .nav-news ul li a:hover svg {
    transform: scale(1.2);
    /* Scale up the icon */
  }

  .nav-news ul li a:active svg {
    transform: scale(1);
    /* Reset scale on active state */
  }

  .nav-news ul li a:hover .link-text {
    transform: scale(1.1);
    /* Slight zoom for text */
  }


}

// 元件
.event-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;

  figure {
    display: block;
    height: 400px;
    flex-shrink: 0;
    overflow: hidden;

    @media ($media-640) {
      height: 240px;
      width: 100%;
    }

    img {
      object-fit: cover;
      height: 100%;
      border-radius: 4px;
    }
  }

  .event-tags {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;

  }

  .date {
    font-size: 12px;
    color: $tagcolor !important;
  }

  .title-container {
    height: 2rem;



  }
}

.article-buttonGroup-container {
  gap: 2rem;

  button {
    font-size: 24px;

    @media ($media-640) {
      font-size: 16px;
    }
  }
}


/* 關鍵字搜尋 */
.searchBar {
  width: 100%;
  display: flex;
  padding: 24px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  @media ($media-820) {
    padding: 0px;
    width: 100%;
  }

  @media ($media-640) {
    padding: 0px;
    width: 100%;
  }

  input {
    width: 100%;
    background-color: transparent;
    display: flex;
    // width: 400px;
    height: 40px;
    padding: 0px 20px;
    gap: 10px;
    color: $textcolor;
    border-radius: 2px;
    border: 2px solid $bordercolor;
    transition: border-color 0.3s, color 0.3s;

    @media ($media-640) {
      // padding: 0px 8px;
      // width: 300px;
      // height: 30px;
    }

    &::placeholder {
      color: $textcolor;
      font-size: 14px;

      @media ($media-640) {
        font-size: 12px;
      }
    }

    &:hover {
      color: $primary_1;
      border: 2px solid $primary_1;
    }

    &:focus {
      outline: 2px solid $primary_1;
    }
  }

}



input {
  letter-spacing: 1.6px;
}



/* 島嶼月報 */
#news>main {
  width: 100%;
  padding: 24px 0px;
  align-self: center;
  display: flex;
  flex-direction: column;

  @media ($media-640) {
    padding: 0;
  }

  /* 封面故事 */
  .cover-story {
    width: 100%;
    display: flex;
    padding: 8px 0px 48px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    a {
      width: 100%;

      .cover-img {
        border: 1px solid $textcolor;
        width: 100%;
        object-fit: cover;
        height: 400px;
        align-self: stretch;

        @media($media-1024) {
          height: 30vh;
        }

        @media($media-640) {
          height: 20vh;
          margin-bottom: 16px;
        }

      }
    }
  }

  /* feature (section) */

  .section-row {

    display: flex;
    justify-content: space-between; // 讓左右有空間
    gap: 5%; // 中間間距  

    width: 100%;
    align-self: stretch;

    @media($media-1024) {
      justify-content: center;
    }

    @media ($media-640) {
      justify-content: center;
      gap: 0px;
    }

  }

  .section-row>section:first-child {
    flex: 2; // 左邊：佔 2 份
  }

  .section-row>section:last-child {
    display: flex;
    flex: 1; // 右邊：佔 1 份
    align-items: flex-start;
  }

  /* feature左欄 */

  .section-row {

    .feature {
      color: $textcolor;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.84px;

      display: flex;
      // width: 700px;
      padding-bottom: 48px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    @media($media-1024) {
      padding-bottom: 0px;
    }


    .feature1 a div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;


      img {
        object-fit: cover;
        align-self: stretch;

        @media($media-1024) {
          height: 30vh;
        }
      }

      p {
        color: $textcolor;
        font-weight: 400;
        letter-spacing: 1.6px;
      }
    }

    .newest {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      @media ($media-1024) {
        width: 100%;
        overflow-x: hidden;
        gap: 16px;
      }

      .new-cards {
        display: flex;
        height: 350px;
        // height: 100%;
        align-items: center;
        gap: 40px;

        @media ($media-1024) {
          gap: 10%;
          flex-direction: row;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          scroll-snap-type: x mandatory;
          // padding-bottom: 16px;
          max-width: 100%; // ← 防止超過畫面
          height: 100%;

          // 隱藏滾動條
          overflow: auto; // 或 scroll
          -ms-overflow-style: none; // IE, Edge
          scrollbar-width: none; // Firefox

          &::-webkit-scrollbar {
            display: none; // Chrome, Safari
          }

        }

        a {
          display: flex;
          height: 100%;
          flex: 1;

          @media ($media-1024) {
            scroll-snap-align: start;
            flex: 0 0 75%; // 每張卡片寬度（視需要可調整為 100%, 75% 等）
            display: block;
          }

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            // flex: 1 0 0;

            img {
              width: 100%;
              height: 240px;
              object-fit: cover;

              @media($media-1024) {
                height: 20vh;
              }
            }

            h3 {
              height: 80px;
              align-self: stretch;
              justify-content: center;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

        }


      }
    }
  }


  /* feature右欄 */

  .recommendation::-webkit-scrollbar {
    // 隱藏橫向滾動條
    display: none;
  }

  .recommendation {
    width: 100%;
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
    border: 1px solid $bordercolor;
    margin-top: 67px;

    @media ($media-640) {
      margin-top: 8px;
      padding: 16px;

    }

    a {
      border-bottom: 1px solid $bordercolor;

      @media ($media-640) {
        border-bottom: none;
      }
    }

    h2 {
      text-align: center;
      color: $textcolor;

      text-align: center;

      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 24px;
    }

    .reco-cards {
      cursor: pointer;
      @media($media-640) {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 24px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          display: none; // 手機隱藏 scrollbar
        }

      }

      .reco-card {
        display: flex;
        width: 100%;
        max-height: 200px;
        padding: 36px 0px;
        align-items: center;
        gap: 24px;
        align-self: stretch;

        @media ($media-1024) {
          scroll-snap-align: start;

          flex: 0 0 60%; // 每張卡片佔 80% 寬度
          padding: 16px 0;
          max-height: none;
          margin-bottom: 1rem;
        }

        @media ($media-640) {
          flex-direction: column;
        }


        img {
          height: 88px;
          width: 132px;
          flex: 1 0 0;
          object-fit: cover;


          @media ($media-640) {
            height: auto;
            width: 100%;
          }
        }

        .reco-card-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          flex: 1 0 0;

          @media ($media-640) {
            gap: 8px;
          }

          h3 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;

            @media ($media-1024) {
              font-size: 16px;
            }

          }

        }
      }

    }





    .reco-button {
      width: 100%;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 36px 0px;

      @media ($media-640) {
        gap: 8px;
        padding: 16px 0px;
      }

    }

    .reco-button a {
      position: relative;
      display: flex;
      padding: 15px 60px;
      justify-content: center;

      font-weight: 900;
      color: $btn-color;
      border-radius: 2px;
      // border: 3px solid $textcolor;
      background-color: #E1BB98;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;

      @media ($media-640) {
        font-size: 12px;
      }


      // 疊上透明背景圖（紙張材質）
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('/paper-texture.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.3; // 材質透明度 30%
        z-index: 1;
        transition: background-color 0.3s, opacity 0.3s;
      }

      &:hover {
        color: $textcolor;
        border: 2px solid $bordercolor;
        background-color: #7B4519;
      }
    }

  }

  /* 月報Events */
  .events {
    width: 100%;
    display: flex;
    padding: 48px 0px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .event-title {
      display: flex;
      padding: 0px 389px;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      text-align: center;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .event-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* 桌機：每列3欄 */
      align-items: center;
      gap: 64px 36px;

      @media screen and (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 54px 24px;
        /* 平板：2欄 */
      }

      @media (max-width: 640px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 54px 24px;
        /* 手機：1欄 */
      }

      .event-card {

        // 顯示3張，第4張以後不顯示
        &:nth-child(n+4) {
          display: none;
        }
      }
    }

    .event-btn a {
      position: relative;
      display: flex;
      padding: 15px 60px;
      justify-content: center;

      font-weight: 900;
      color: $btn-color;
      border-radius: 2px;
      // border: 3px solid $btn-color;
      background-color: #E1BB98;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      margin-top: 50px;

      // 疊上透明背景圖（紙張材質）
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('/paper-texture.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.3; // 材質透明度 30%
        z-index: 1;
        transition: background-color 0.3s, opacity 0.3s;
      }

      &:hover {
        color: $textcolor;
        border: 2px solid $bordercolor;
        background-color: #7B4519;
      }
    }
  }



}

/* Top */
.top-btn {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1000;

  @media ($media-640) {
    .top-btn {
      bottom: 20px;
      right: 20px;

      svg {
        width: 50px; // 手機上放大一點較易點擊
      }
    }
  }

  svg {
    width: 40px;
    height: auto;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

  }
}




/* 閱讀文章 */
#findArticles main {
  display: flex;
  padding: 0px;
  max-width: 1280px;
  margin: auto;
  flex-direction: column;

  @media ($media-820) {
    padding: 0px 0px 48px;
    width: 100%;
  }

  @media ($media-640) {
    padding: 0px;
    width: 100%;
  }

  // /* 關鍵字搜尋 */
  // .searchBar {
  //   display: flex;
  //   padding: 24px 320px;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   align-self: stretch;

  //   @media ($media-640) {
  //     padding: 0px;
  //     width: 100%;
  //   }

  //   input {
  //     background-color: transparent;
  //     display: flex;
  //     width: 400px;
  //     height: 40px;
  //     padding: 0px 20px;
  //     gap: 10px;
  //     color: $textcolor;
  //     border-radius: 2px;
  //     border: 2px solid $bordercolor;
  //     transition: border-color 0.3s, color 0.3s;

  //     @media ($media-640) {
  //       padding: 0px 8px;
  //       width: 300px;
  //       height: 30px;
  //     }

  //     &::placeholder {
  //       color: $textcolor;
  //       font-size: 14px;

  //       @media ($media-640) {
  //         font-size: 12px;
  //       }
  //     }

  //     &:hover {
  //       color: $primary_1;
  //       border: 2px solid $primary_1;
  //     }

  //     &:focus {
  //       outline: 2px solid $primary_1;
  //     }
  //   }

  // }
  .sec1 {
    width: 100%;

    .searchBar {
      width: 100%;

      // 文章關鍵字搜尋
      .search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 8px;

        input {
          width: 100%;
          display: flex;
        }

        li {
          font-size: 14px;
          padding-top: 16px;
        }
      }

    }

  }



  .articleCard {
    cursor: pointer;
    display: flex;
    padding: 40px 0px;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    border-bottom: 1px solid $bordercolor;

    width: 100%;

    @media ($media-640) {
      padding: 48px 36px;
    }


    img {
      display: block;
      width: 290px;
      height: 170px;
      object-fit: cover;
      /* 保持比例並且覆蓋容器 */
      object-position: center;
      // align-items: center;
      // flex: 1 0 0;
    }

    .articleCardText {
      display: flex;
      // width: 780px;
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;

      @media ($media-640) {
        gap: 16px;
      }

      h2 {
        font-size: 32px;
        letter-spacing: $letter-spacing-s;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        align-self: stretch;

        @media ($media-640) {
          font-size: 18px;
          letter-spacing: normal;
        }
      }

      p {
        line-height: 2rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        overflow: hidden;
        text-overflow: ellipsis;
        align-self: stretch;

        @media ($media-640) {
          font-size: 14px;
          line-height: normal;
        }
      }
    }


  }

  .sec1,
  .sec2 {
    display: flex;
    padding: 48px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    @media ($media-820) {
      padding: 1.5rem 0;
    }

    @media ($media-640) {
      padding: 1.5rem 0;
    }





    // 頁碼
    .pageNumberArea {
      display: flex;
      padding: 36px 0px;
      align-items: center;
      gap: 24px;
      align-self: stretch;

      border-bottom: 1px solid $bordercolor;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
      }
    }
  }

  #article .sec2 {
    .title {
      font-size: 24px;
      padding: 0%;
    }
  }
}

/* 文章內頁 */
.article-detail-page,
.event-detail-page {
  // background: #153837;
  display: flex;
  margin: 0 auto;

  .article-share-container {
    position: fixed;
    width: 80px;
    top: 10%;
    right: 2vw;

    @media ($media-1024) {
      right: -2%;
    }

    @media ($media-640) {
      right: -8vw;
      top: 12%;
    }

    button {
      all: unset;

      border-radius: 99px;
      // border: 2px solid $textcolor;
      background-color: transparent;

      display: flex;
      padding: 1rem;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;

        @media ($media-640) {
          width: 16px;
          height: 16px;
        }
      }

      a {
        color: $textcolor;
      }


      &:hover {
        // color: $primary_1;
        background-color: #904118;
        // border: 2px solid $bordercolor;
      }

    }
  }

  .breadcrumbs {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    li {
      font-size: 14px;

      @media ($media-640) {
        font-size: 12px;
      }
    }

    li>a {
      font-size: 14px;
      color: $tagcolor;
      cursor: pointer;

      @media ($media-640) {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
    }
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    justify-content: center;
    letter-spacing: 0.24px;

    @media ($media-640) {
      font-size: 14px;
    }

  }

  section {
    display: flex;
    padding: 36px 0px;
    // margin: 0px 20%;
    flex-direction: column;

    .title-container {
      display: flex;
      padding: 24px 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;

      p {
        font-size: 14px;
        letter-spacing: 8px;
      }

      h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 0.8px;

        @media ($media-640) {
          font-size: 24px;
        }
      }

    }

    // 封面圖
    figure {
      width: 100%;
      height: 480px;
      overflow: hidden;
      margin: 0 auto;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }

      @media ($media-640) {
        width: 80%;
        height: 120px;
      }
    }

    .content-container {
      margin: 0 20%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;

      @media ($media-1024) {
        margin: 0 8%;
      }

      @media ($media-640) {
        margin: 0 8%;
      }

      .article-paragraphs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        text-align: justify;

        .paragraph-block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;

          .smImg {
            width: 560px;
            height: 315px;
            object-fit: cover;

            @media ($media-1024) {
              width: 80%;
              height: 240px;
            }

            @media ($media-640) {
              width: 80%;
              height: 120px;
            }
          }


        }

        .paragraph-block:last-child p {
          padding-bottom: 36px; // 最後一個p給一個底部內距

        }



      }

    }

    p {

      .book-button {

        button {
          margin-top: 1.5rem;
          border-radius: 2px;
          border: 3px solid $textcolor;
          background-color: transparent;

          display: flex;
          width: 160px;
          height: 72px;
          padding: 1rem 0px;
          justify-content: center;
          align-items: center;

          cursor: pointer;

          a {
            color: $textcolor;
          }

          &:hover {
            // color: $primary_1;
            background-color: #904118;
            border: 2px solid $bordercolor;
          }

        }
      }
    }

    .info-container {
      margin: 0 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
      align-self: stretch;

      .info-text-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
        gap: 1rem;

        .note {
          font-size: 1rem;
        }
      }
    }
  }

  .article-next {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2.5rem;

    a {
      font-size: 24px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.8px;
      line-height: 200%;
      width: 100%;
      cursor: pointer;

      img {
        height: 240px;
        object-fit: cover;

        @media ($media-640) {
          height: 120px;
        }
      }
    }
  }

  .article-buttonGroup-container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
    margin-bottom: 1.5rem;

    @media ($media-640) {
      gap: 32px;

      .article-button-container:nth-child(2) {
        display: none;
      }
    }

    .article-button-container {


      button {
        border-radius: 2px;
        border: 3px solid $textcolor;
        background-color: transparent;

        display: flex;
        width: 160px;
        height: 72px;
        padding: 1rem 0px;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        a {
          color: $textcolor;
        }


        @media ($media-640) {
          width: 120px;
          height: 56px;
        }

        &:hover {
          // color: $primary_1;
          background-color: #904118;
          border: 2px solid $bordercolor;
        }
      }

    }
  }

}

/* 找活動 */
#findEvent {
  main {
    width: 100%;
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;

    @media ($media-820) {
      padding: 40px 0px;
      width: 100%;
    }

    @media ($media-640) {
      padding: 0px;
      padding-bottom: 24px;
      width: 100%;
    }

    .events {

      display: flex;
      // padding: 36px 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;
      align-self: stretch;

      .event-title {
        display: flex;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        align-self: stretch;
      }

      .event-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 桌機：每列3欄 */
        align-items: center;
        gap: 64px 36px;
        // padding-top: 48px;

        @media screen and (max-width: 1024px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 54px 24px;
          /* 平板：2欄 */
        }

        @media screen and (max-width: 640px) {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 54px 24px;
          /* 手機：1欄 */
        }


      }

    }
  }


  .filterBar {
    width: 100%;

    display: flex;
    // padding: 48px auto;
    margin: 24px auto 48px;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;

    @media ($media-640) {
      // padding: 40px 0px;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;

      // position: sticky;
      top: 80px;
      // z-index: 99;
    }

    .timeBar {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      gap: 36px;
      align-self: stretch;

      @media ($media-640) {
        // flex-wrap: wrap;
        gap: 12px;
        justify-content: flex-start;
        font-size: 12px;
      }

      div {
        width: 100%;
        justify-content: center;
        display: flex;
        // width: 363px;
        align-items: center;
        gap: 20px;

        @media ($media-640) {
          width: 100%;
          gap: 1rem;
        }


        .time {

          max-width: 120px;

          display: flex;
          height: 40px;
          padding: 0px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border-radius: 2px;
          border: 1px solid $bordercolor;

          @media ($media-640) {
            padding: 0px 8px;
            // background-color: #122f30;
            // backdrop-filter: blur(8px);
            // background-color: rgba(18, 47, 48, 0.6); // 深綠半透明
            // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

          }

          p {
            font-size: 14px;
            display: flex;
            color: $textcolor;

            @media ($media-640) {
            font-size: 12px;

          }


          }

          &:hover {
            background-color: #904118;
            // border: 2px solid $primary_1;
          }

        }

      }
    }

    .searchBar {
      @media ($media-640) {
        position: sticky;
        top: 100px;
      }
    }

    // /* 關鍵字搜尋 */
    // .searchBar {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   align-self: stretch;

    //   input {
    //     background-color: transparent;
    //     display: flex;
    //     width: 400px;
    //     height: 40px;
    //     padding: 0px 20px;
    //     gap: 10px;
    //     color: $textcolor;
    //     border-radius: 2px;
    //     border: 2px solid $bordercolor;
    //     transition: border-color 0.3s, color 0.3s;

    //     &::placeholder {
    //       color: $textcolor;
    //       font-size: 14px;
    //     }

    //     &:hover {
    //       color: $primary_1;
    //       border: 2px solid $primary_1;
    //     }

    //     &:focus {
    //       outline: 2px solid $primary_1;
    //     }
    //   }
    // }
  }



  // 頁碼
  .pageNumberArea {
    display: flex;
    padding: 36px 0px;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    border-bottom: 1px solid $bordercolor;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      flex: 1 0 0;
    }
  }


}

/* 活動內頁 */


@media screen and (max-width: 820px) {
  #news>main .section-row {
    flex-direction: column;
    height: auto;

    section:first-child,
    section:last-child {
      width: 100%;
      flex: unset;
    }

    .feature {
      width: 100%;
    }

    .recommendation {
      width: 100%;
      height: auto;
      margin-top: 36px;
    }
  }
}

@media (max-width: 820px) {

  img {
    max-width: 100%;
    height: auto;
  }

  // 導覽列不顯示
  #news .nav-news {
    display: none !important;

  }

  #findArticles .title,
  #findEvent .title {
    display: none;
  }

  #findArticles nav,
  #findEvent nav {
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin: 0px;


  }

  .nav-news-desktop {
    display: none !important;
  }

  .nav-news-mobile {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;

    ul {
      width: 100%;
      flex-direction: row !important;
    }
  }

  .nav-news-mobile .text-nav {
    font-size: 14px;
    padding: 8px;
    padding-right: calc(8px - 0.8rem); //扣掉右邊字距
    display: block;
    text-align: center;
  }

  .nav-news-mobile .active {
    font-weight: bold;
  }


  #findArticles .nav-news,
  #findEvent .nav-news {
    width: 100%;
    margin: 0px;
    letter-spacing: $letter-spacing-m;
    position: static;
    width: 100%;
    left: 0px;
    z-index: 0;

    ul {
      // width: 40%;
      justify-content: space-between;

      li {
        flex: 1;
        margin: 0px 8px;
        text-align: center;

        li>a:last-child {
          width: 100%;
          align-items: flex-end;
        }

        li>a:first-child {
          width: 100%;
          align-items: flex-start;
        }

        a {
          border-radius: 8px;
          border: $textcolor;
        }

        a.active {
          // border-bottom: 2px solid $textcolor;
          background-color: #A46230;
          border-radius: 8px;
          color: $textcolor;
        }
      }


    }
  }

  #news>main .cover-story {
    padding: 16px 0px;
  }

  #news>main .new-cards {
    // flex-direction: column;
    height: auto;
    // flex-wrap: wrap; /* 若要換行 */
    overflow: hidden;
    /* 防止超出 */

    div {
      width: 100%;
    }
  }


  .new-cards>* {
    max-width: 100%;
    /* 限制寬度 */
  }

  #article .articleCard {
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 100%;
      height: auto;
    }

    .articleCardText {
      align-items: flex-start;
    }
  }

  #news>main .section-row .feature {
    gap: 16px;
    padding-bottom: 16px;
  }

  #news>main .section-row .feature1 a div {
    gap: 8px;
  }

  #news>main .section-row .newest .new-cards a div img {
    width: 100%;
    height: 200px;
  }

  #news>main .section-row .recommendation {
    margin-top: 8px;
    padding: 24px;

    h2 {
      text-align: center;
    }
  }
}

// TOP按鈕
@media screen and (max-width: 640px) {
  .top-btn {
    bottom: 20px;
    right: 20px;

    svg {
      width: 30px;
    }
  }
}